__pycache__/
*.pyc
.env
*.ipynb_checkpoints/
!pi_mod_02/.ipynb_checkpoints/
*.log
*.sqlite
.DS_Store
.vscode/
*.idea/
# Docker
*.projectd
*.tar
*.sock
*.img
*.container


pi_mod_01/data/*
!pi_mod_01/data/*.keep
pi_mod_02/scripts/db/data/*
!pi_mod_02/scripts/db/data/*.keep

notas_txt